version: '3'

services:
  mongo:
    image: mongo:latest
    restart: on-failure
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - './.docker/mongo/data/db:/data/db'

  mongo-express:
    image: mongo-express
    restart: on-failure
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root

  rabbitmq:
    image: "rabbitmq:3-management"
    restart: on-failure
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "5672" ]
      interval: 5s
      timeout: 15s
      retries: 1

  hub:
    image: selenium/hub:latest

  chrome:
    image: selenium/node-chrome:latest
    depends_on:
      - hub
    environment:
      HUB_HOST: hub

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - './backend/src:/app/src'
    depends_on:
      - mongo
      - rabbitmq
      - chrome
    restart: on-failure
    ports:
      - 3001:3001
    environment:
      TZ: "Asia/Tehran"
      APP_PORT: 3001
      DB_HOST: mongo
      DB_PORT: 27017
      DB_NAME: google-rank-tracker
      DB_USER: root
      DB_PASS: root
      MQ_HOST: rabbitmq
      SELENIUM_HUB_HOST: hub

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - './frontend/src:/app/src'
    ports:
      - 3000:3000
    stdin_open: true