version: '3'

services:
  mongo:
    image: mongo:4.4
    restart: on-failure
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - './.docker/mongo/data/db:/data/db'

  mongo-express:
    image: mongo-express:0.54
    restart: on-failure
    depends_on:
      - mongo
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root

  rabbitmq:
    image: "rabbitmq:3-management"
    restart: on-failure
    ports:
      - 5672:5672
      - 15672:15672

  hub:
    image: selenium/hub:4.0.0-rc-1-prerelease-20210713
    container_name: hub

  chrome:
    image: selenium/node-chrome:4.0.0-rc-1-prerelease-20210713
    depends_on:
      - hub
    environment:
      SE_EVENT_BUS_HOST: hub

  backend:
    image: mohsensaremi/google-rank-tracker-backend:latest
    depends_on:
      - mongo
      - rabbitmq
      - chrome
    restart: on-failure
    ports:
      - 3001:3001
    environment:
      TZ: "Asia/Tehran"
      APP_PORT: 3001
      DB_HOST: mongo
      DB_PORT: 27017
      DB_NAME: google-rank-tracker
      DB_USER: root
      DB_PASS: root
      MQ_HOST: rabbitmq
      SELENIUM_HUB_HOST: hub

  frontend:
    image: mohsensaremi/google-rank-tracker-frontend:latest
    ports:
      - 3000:80
    restart: on-failure